body{
    margin: 10px 20px !important;
}

.contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 420px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo img{
    margin: 162px 0 7px 0;
}
.signup-input.form-control{
    width: 380px;
}
.signup-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h2{
    font-weight: 700;
    font-size: 32px;

}
.form-group p{
    text-align: right;
    color:#0CA8F2;
}

.input-styles.form-control{
    width: 380px;
}


.login-btn{
    color: #ffff !important;
    background-color: #000 !important;
    width: 380px;
    margin: 52px 0 100px 0 ;
}

.guest{
    width: 380px;
    border: solid 1px #000 !important;
    margin-bottom: 100px;
}

.auth-msg {
    margin: auto;
    text-align: center;
    width: 276px;
    font-size: 16px;

}

.phone-confirm-btn{
    color: #ffff !important;
    background-color: #000 !important;
    width: 380px;
    margin: 52px 0 100px 0 ;
}

.otp{
    position: relative;
    left: -15px;
    
}

.otp-actions{
    color: #0CA8F2;
    position: relative;
    left: 31px;
    width: 400px;
}


.otp-styles{
    text-align: center;
    margin: auto;
    margin-left: 30px;
    width: 50px !important;
    height: 50px !important;
}

.next-btn{
    background: black !important;
    color: white !important;
    width: 300px;
    margin: 20px 0;

}

.prev-btn{
    width: 300px;
    margin: 20px 0;
    border: solid 2px black !important;
}

input[type="radio"] {
    display: none; /* Hide the actual radio button */
  }
  
  input[type="radio"] + label {
    text-align: center;
    width: 170px;
    height: 50px;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .radio label{
    padding-top: 11px;
    margin-bottom: 17px;
  }
  
  input[type="radio"]:checked + label {
    background-color: #000000;
    color: white;
    border-color: #000000;
  }
  
  .reg-box .name{
    width: 380px;
    height: 50px;
  }

   #pass{
    width: 380px;
    height: 50px;
  }
   .reg-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 416px;
    padding: 10px;
    background: #F5F5F5;
   }

   .reg-form{
     display: flex;
     flex-direction: column;
   }

.prof-detail{
    font-weight:500;
    padding-top: 50px;
    margin: 0;
}

.reg-box input{
    border:  0.5px solid #CECECE;
}

input:focus {
    outline: none; /* Remove default outline */
    border: 2px solid #3498db; /* Add your desired border */
    box-shadow: 0 0 5px #3498db; /* Add a shadow effect if desired */
  }
  